/* public/dashboard.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Create a header area that uses flexbox to align items */
.header {
    display: flex;
    justify-content: space-between; /* Space out the header title and button */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add some space below the header */
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 0; /* Remove default margin */
}

#walletButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#walletButton:hover {
    background-color: #005f73;
}

#walletButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.connected {
    background-color: #4CAF50;
}

.staking-container {
    margin-top: 20px; /* Add space above the staking container */
    text-align: center; /* Center the staking button */
}

#stakeDataButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* A green color for the staking button */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#stakeDataButton:hover {
    background-color: #367B35; /* A darker green on hover */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between navigation links as needed */
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #008CBA;
    color: white;
}