.popup {
    .rewards {
        p {
            font-size: var(--font-size-small);
        }

        .reward-points {
            color: var(--color-success);
        }
    }

    .note-text {
        color: var(--color-font-light-gray);
    }
}