.dashboard {
  color: var(--color-font-white);
  background: var(--color-background);
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .content {
    width: 100%;
    padding: var(--spacing-large) var(--spacing-3xlarge);
  }

  .dashboard-header {
    padding-left: var(--spacing-xlarge);
    margin-bottom: var(--spacing-4xlarge);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.btn-connect {
  background: var(--color-primary);
  text-align: center;
  font-weight: var(--font-medium);
  font-size: var(--font-size-smaller);
  padding: var(--spacing-small) var(--spacing-xlarge);
  border-radius: var(--border-radius-large);
  border: none;

  cursor: pointer;

  &:hover {
    background: #ffc35c;
  }
}

.account-container {
  border-radius: 50px;
  height: 36px;
  border: solid 1px var(--color-border-light);

  font-size: var(--font-size-small);

  align-items: center;

  padding: var(--spacing-large) var(--spacing-2xlarge);

  gap: var(--spacing-small);
  img {
    width: 10px;
    height: 10px;
  }
}

.sidebar {
  background: var(--color-card-background);
  display: flex;
  flex-direction: column;
  width: 265px;
  padding: var(--spacing-2xlarge) var(--spacing-large);
  gap: var(--spacing-4xlarge);

  .sidebar-logo {
    margin-left: var(--spacing-xlarge);
  }

  .sidebar-item-container {
    gap: var(--spacing-small);

    .sidebar-item-link {
        text-decoration: none;;
    }

    .sidebar-item {
      width: 100%;
      height: 50px;

      padding: var(--spacing-small) var(--spacing-large);
      padding-left: var(--spacing-xlarge);

      align-items: center;
      gap: var(--spacing-large);

      border-radius: var(--border-radius-medium);

      &.selected {
        background: var(--color-background);

        &:hover {
          background: var(--color-light-background);
        }
      }

      &:hover {
        background: var(--color-background);
      }

      img {
        width: 20px;
        height: 20px;
      }

      p {
        font-size: var(--font-size-small);
        color: var(--color-font-white);
      }
    }
  }
}

.percent-change {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-2xsmall);
  font-weight: var(--font-medium);
}

.total-points {
  padding-left: var(--spacing-xlarge);
  margin-bottom: var(--spacing-2xlarge);

  h2 {
    color: var(--color-font-light-gray);
    font-size: (--font-size-large);
    font-weight: var(--font-semibold);
  }

  h1 {
    font-size: var(--font-size-2xlarge);
    color: var(--color-font-white);
    font-weight: var(--font-bold);
  }

  .skeleton {
    background: linear-gradient(
      to right,
      var(--color-skeleton) 8%,
      var(--color-font-light) 18%,
      var(--color-skeleton) 33%
    );
    background-size: 800px 104px;
    color: transparent;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: ease-in-out;

    border-radius: 50px;
    height: 20px;
    width: 60px;

    margin-top: var(--spacing-medium);
  }
}

.change-line {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);

  & > span {
    font-size: var(--font-size-smaller);
    color: var(--color-font-light-gray);
  }
}

.activity-metrics {
  border: 2px solid var(--color-card-border);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-2xlarge);

  .metrics-title {
    font-size: var(--font-size-xlarge);
    color: var(--color-font-white);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-medium);
  }

  .metrics-subtitle {
    font-size: var(--font-size-medium);
    font-weight: var(--font-medium);
    color: var(--color-font-light-gray);
  }

  .metrics-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-3xlarge);
  }
}

.stats-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xlarge);

  @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
  }
}

.stat-card {
  border-radius: var(--border-radius-medium);
  background: var(--color-card-background);
  color: var(--color-font-light-gray);
  padding: var(--spacing-xlarge);
  position: relative;

  @keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  &.skeleton {
    .percent-change-pill-skeleton,
    .stat-value {
      background: linear-gradient(
        to right,
        var(--color-skeleton) 8%,
        var(--color-font-light) 18%,
        var(--color-skeleton) 33%
      );
      background-size: 800px 104px;
      color: transparent;
      animation-duration: 5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: ease-in-out;

      border-radius: 50px;
      height: 20px;
      width: 60px;

      margin-top: var(--spacing-medium);
    }
    .percent-change-pill-skeleton .percent-change-pill {
      height: 20px;
      width: 30px;
    }
  }

  .stat-card-title {
    color: var(--color-font-light-gray);
    font-size: var(--font-size-medium);
    font-weight: var(--font-semibold);
    margin-bottom: var(--spacing-xsmall);
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    justify-content: space-between;
  }

  .stat-card-subtitle {
    color: var(--color-font-light-gray);
    opacity: 0.5;
    font-size: var(--font-size-smaller);
    margin-top: var(--spacing-2xsmall);
    line-height: 20px;
    text-align: right;
  }
}

.stat-card-link {
  flex-grow: 1;
  color: var(--color-primary);
  font-size: var(--font-size-small);
  text-align: right;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.coming-soon {
    color: rgba(255, 255, 255, 0.2);
    cursor: none;

    pointer-events: none;
  }
}

.percent-change-pill {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-xlarge);
  padding-block: var(--spacing-xsmall);
  padding-inline: var(--spacing-medium);
  display: flex;
}

.coming-soon > p {
  font-size: var(--font-size-small);
  font-weight: var(--font-medium);
}

.coming-soon-badge {
  color: var(--color-success);
  font-size: var(--font-size-xsmall);
  border: 1px solid black;
  padding: var(--spacing-small) var(--spacing-large);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--spacing-small);
  border-radius: var(--border-radius-xlarge);
}

.stats {
  display: flex;
  gap: var(--spacing-4xlarge);
  align-items: flex-end;
}

.stat {
  .stat-label {
    font-weight: var(--font-medium);
    font-size: var(--font-size-small);
    color: var(--color-font-light-gray);
    margin-bottom: var(--spacing-xsmall);
  }
  .stat-value {
    color: var(--color-font-lighter-gray);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-bold);

    &.coming-soon {
      color: var(--color-text-disabled);
    }
  }
}

.help-icon {
  position: relative;
  display: inline-flex;

  .tooltip {
    visibility: hidden;
    width: 224px;
    background-color: var(--color-tooltip-background);
    color: var(--color-font-white);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-medium);
    position: absolute;
    z-index: 1;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--spacing-xsmall);
    }

    &-title {
      font-weight: var(--font-semibold);
      font-size: var(--font-size-smaller);
      margin-bottom: var(--spacing-xsmall);
      width: 75%;
    }

    &-description {
        font-size: var(--font-size-xsmall);
        line-height: 18px;
    }

    &-body {
        margin-top: var(--spacing-small);

        p {
            font-size: var(--font-size-xsmall);
            line-height: 18px;
            color: var(--color-font-light-gray);
            margin-bottom: var(--spacing-medium);
        }

        h4 {
            font-size: var(--font-size-xsmall);
            line-height: 18px;
        }
    }

    &-points {
        border-radius: var(--border-radius-xlarge);
        color: var(--color-success);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: var(--border-radius-xlarge);
        padding-inline: var(--spacing-medium);
        display: flex;
        font-size: var(--font-size-smaller);
        line-height: 20px;
    }
  }

  &:hover .tooltip {
    visibility: visible;
  }
}

.intro-page {
  color: white;
  padding: 20px;
  border-radius: 8px;

  border: solid 2px var(--color-card-border);
  padding: var(--spacing-4xlarge) var(--spacing-2xlarge);

  .header {
    text-align: center;
    align-items: center;

    gap: var(--spacing-2xlarge);

    p {
      font-size: var(--font-size-medium);
      color: var(--color-font-light-gray);
    }

    button {
      width: 150px;
    }
  }

  .connect-wallet-button {
    background-color: #4caf50; // Green
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: darken(#4caf50, 10%);
    }
  }

  .metrics {
    margin-bottom: 20px;

    gap: var(--spacing-2xlarge);
    padding-top: var(--spacing-4xlarge);

    .metrics-subtitle {
      font-size: var(--font-size-medium);
      color: var(--color-font-light-gray);
      text-align: center;
    }

    .metric-groups {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
  }

  .stat-card {
    background-color: #333;
    padding: 15px;
    border-radius: 4px;
    position: relative;
  }

  .claim-rewards-button {
    background-color: #f44336; // Red
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    &:disabled {
      background-color: lighten(#f44336, 10%);
      cursor: not-allowed;
    }
  }

  .coming-soon {
    align-items: center;
    gap: var(--spacing-small);
    padding-top: var(--spacing-xlarge);
    .coming-soon-badge {
      width: 140px;
    }
  }
}


.tracking-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--spacing-medium);
    font-size: var(--font-size-small);
    color: var(--color-font-light-gray);
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;
    justify-content: space-between;
}

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 64px; /* Adjusted width for a smaller toggle */
    height: 32px; /* Adjusted height for a smaller toggle */
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #454545;
    transition: .4s;
    border-radius: 32px; /* Rounded corners for the slider */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px; /* Adjusted for a smaller inner circle */
    width: 28px; /* Adjusted for a smaller inner circle */
    left: 2px; /* Positioning the inner circle inside the slider */
    bottom: 2px; /* Positioning the inner circle inside the slider */
    background-color: #252525;
    transition: .4s;
    border-radius: 50%; /* Circular shape for the inner circle */
  }
  
  input:checked + .slider {
      background-color: var(--color-success);
  }
  
  input:checked + .slider:before {
    transform: translateX(32px); /* Adjusted to fit the new width */
  }
  
  input:focus + .slider {
      box-shadow: 0 0 1px var(--color-success);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
