.dashboard {
    color: var(--color-font-white);
    background: var(--color-background);
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    .content {
        width: 100%;
        padding: var(--spacing-large) var(--spacing-3xl);
    }

    .dashboard-header {
        padding-left: var(--spacing-xlarge);
        margin-bottom: var(--spacing-4xl);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.btn-connect {
    background: var(--color-primary);
    text-align: center;
    font-weight: var(--font-semibold);
    font-size: var(--font-size-smaller);
    padding-block: var(--spacing-small);
    padding-inline: var(--spacing-large);
    border-radius: var(--border-radius-large);
    border: none;
}

.sidebar {
    background: var(--color-card-background);
    display: flex;
    flex-direction: column;
    width: 265px;
    padding: var(--spacing-large) var(--spacing-2xl);
}

.percent-change {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2xs);
    font-weight: var(--font-medium);
}

.total-points {
    padding-left: var(--spacing-xlarge);
    margin-bottom: var(--spacing-2xl);
    
    h2 {
        color: var(--color-font-light-gray);
        font-size: (--font-size-large);
        font-weight: var(--font-semibold);
    }

    h1 {
        font-size: var(--font-size-2xl);
        color: var(--color-font-white);
        font-weight: var(--font-bold);
    }
}

.change-line {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);

    & > span {
        font-size: var(--font-size-smaller);
        color: var(--color-font-light-gray);
    }
}

.activity-metrics {
    border: 2px solid var(--color-card-border);
    border-radius: var(--border-radius-large);
    padding: var(--spacing-2xl);
    
    .metrics-title {
        font-size: var(--font-size-xlarge);
        color: var(--color-font-white);
        font-weight: var(--font-bold);
        margin-bottom: var(--spacing-medium);
    }

    .metrics-subtitle {
        font-size: var(--font-size-medium);
        font-weight: var(--font-medium);
        color: var(--color-font-light-gray);
    }
    
    .metrics-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--spacing-3xl);
    }
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(248px, 1fr));
    gap: var(--spacing-xlarge); 
}

.stat-card {
    border-radius: var(--border-radius-medium);
    background: var(--color-card-background);
    color: var(--color-font-light-gray);
    padding: var(--spacing-xlarge);

    .stat-card-title {
        color: var(--color-font-light-gray);
        font-size: var(--font-size-medium);
        font-weight: var(--font-semibold);
        margin-bottom: var(--spacing-xsmall);
    }

    .stat-card-subtitle {
        color: var(--color-font-light-gray);
        opacity: .5;
        font-size: var(--font-size-xs);
        margin-bottom: var(--spacing-large);
    }
}

.stat-card-link {
    flex-grow: 1;
    color: var(--color-primary);
    font-size: var(--font-size-small);
    text-align: right;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.percent-change-pill {
    background-color: rgba(255,255,255,.1);
    border-radius: var(--border-radius-xlarge);    
    padding-block: var(--spacing-xsmall);
    padding-inline: var(--spacing-medium);
    display: flex;
}

.coming-soon > p {
    font-size: var(--font-size-small);
    font-weight: var(--font-medium);
}

.coming-soon-badge {
    color: var(--color-success);
    font-size: var(--font-size-xs);
    border: 1px solid black;
    padding: var(--spacing-small) var(--spacing-large);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--spacing-small);
    border-radius: var(--border-radius-xlarge);
}

.stats {
    display: flex;
    gap: var(--spacing-4xl);
    align-items: flex-end;
}

.stat {
    .stat-label {
        font-weight: var(--font-medium);
        font-size: var(--font-size-small);
        color: var(--color-font-light-gray);
        margin-bottom: var(--spacing-xsmall);
    }
    .stat-value {
        color: var(--color-font-lighter-gray);
        font-size: var(--font-size-xlarge);
        font-weight: var(--font-bold);
    }
}

.help-icon {
    position: relative;
    display: inline-block;

    .tooltip {
        visibility: hidden;
        width: 224px;
        background-color: var(--color-tooltip-background);
        color: var(--color-font-white);
        padding: var(--spacing-medium);
        border-radius: var(--border-radius-medium);
        position: absolute;
        z-index: 1;

        &-title {
            font-weight: var(--font-semibold);
            font-size: var(--font-size-xs);
            margin-bottom: var(--spacing-xsmall);
        }

        &-body {
            font-size: var(--font-size-xs);
        }
    }

    &:hover .tooltip {
        visibility: visible;
    }
}
